.body {

        margin: auto;
        width: 12.5em; 
        padding: 50px;
}


.flex-container {
    background-color: #1F2937;
    height: 40vh;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
    margin-bottom: 80px;
   
    
    
}  

.container img {
    
    height:20vh;
    width: 25vh;
    object-fit: contain;
    display: flex;
    position: absolute;
    right: 100px;
    top: 33vh;
    justify-content: space-evenly;
    
    

    
 }
 .img {
    position: absolute;
   
   
 }
.h2  {
    text-align: center;

}


.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.secondary-text {
    color: #E5E7EB;
    font-size: 25px;
    
}

.navstyle li a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: solid;
    margin: 30px;
    text-decoration: none;

   

}

.navstyle * {
    display: inline;
   
}

.navstyle li a:hover {
       background-color: #3882f6;
}       

.box-container{
     position: absolute;
     top: 50%;
     left: 50%;
     position: relative;
     justify-content:center;
     
    
}


.rocks img {
    position: absolute;
    left: -70vh;
    height:20vh;
    width: 15vh;
    box-sizing: border-box;  
    text-align: center; 
    border: 5px solid lightskyblue;
    
    
   
     


}

.cliff img {
    position: absolute;
    left: -38vh;
    top: 1px;
    height:20vh;
    width: 15vh;
    display: flex;
    box-sizing: border-box;  
    text-align: center; 
    border: 5px solid lightskyblue;
    

}

.hot-chocolate img {
    position: absolute;
    left: 1vh;
    top: 1px;
    height:20vh;
    width: 15vh;
    display: flex;
    box-sizing: border-box;
    text-align: center; 
    border: 5px solid lightskyblue;
}

.kobi img {
    position: absolute;
    left: 45vh;
    top: 1px;
    height:20vh;
    width: 15vh;
    display: flex;
    box-sizing: border-box;  
    text-align: center; 
    border: 5px solid lightskyblue;
}

.box-container p {
    position: relative;
    text-align: left;
    bottom: auto;

}

.footer-container {
    color: #e5e7eb;
    font-size: small;
    text-align: center;
    background-color: #1F2937;
    height: 10vh;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50vh;
    margin-bottom: 50px;
}

.grey-container {
     
    background-color: #e5e7eb;
    height: 12.5em;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 80px;
    margin-bottom: 90px;
    top: 1px;

    

    
}

.h3 {
   color: #1F2937;
   font-size: 36px;
   text-align: center;

}

.my-hopes  {

    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.button{
    margin:auto;
    align-items: center;
    background-color: lightskyblue;
}